{% load static %}


<!DOCTYPE html>

<html lang="en" class="light-style">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="IE=edge,chrome=1">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

  <title>Semantic markup service for low-resource Turkic languages</title>

  <!-- Main font -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900" rel="stylesheet">

  <!-- Icons. Uncomment required icon fonts -->
  <!-- <link rel="stylesheet" href="assets/vendor/fonts/fontawesome.css"> -->
  <link rel="stylesheet" href="{% static 'assets/vendor/fonts/ionicons.css' %}">
  <!-- <link rel="stylesheet" href="assets/vendor/fonts/linearicons.css"> -->
  <!-- <link rel="stylesheet" href="assets/vendor/fonts/open-iconic.css"> -->
  <!-- <link rel="stylesheet" href="assets/vendor/fonts/pe-icon-7-stroke.css"> -->

  <!-- Core stylesheets -->
  <link rel="stylesheet" href="{% static 'assets/vendor/css/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'assets/vendor/css/appwork.css' %}">
  <link rel="stylesheet" href="{% static 'assets/vendor/css/theme-corporate.css' %}">
  <link rel="stylesheet" href="{% static 'assets/vendor/css/colors.css' %}">
  <link rel="stylesheet" href="{% static 'assets/vendor/css/uikit.css' %}">




  <!-- Load polyfills -->
  <script src="{% static 'assets/vendor/js/polyfills.js' %}"></script>
  <script>document['documentMode']===10&&document.write('<script src="https://polyfill.io/v3/polyfill.min.js?features=Intl.~locale.en"><\/script>')</script>

  <!-- Layout helpers -->
  <script src="{% static 'assets/vendor/js/layout-helpers.js' %}"></script>
  <script>
  	function addText(event) {
    var targ = event.target || event.srcElement;
    document.getElementById("id_phrase").value = targ.textContent || targ.innerText;
    }
	
  </script>

  <!-- Libs -->

  <!-- `perfect-scrollbar` library required by SideNav plugin -->
  <link rel="stylesheet" href="{% static 'assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css' %}">

</head>
<body>

  <!-- Layout wrapper -->
  <div class="layout-wrapper layout-1">
    <!-- Layout inner -->
    <div class="layout-inner">

      <!-- Layout navbar -->
      <nav class="layout-navbar navbar navbar-expand-lg align-items-lg-center bg-navbar-theme container-p-x" id="layout-navbar">
        <a href="/kernel/" class="navbar-brand">MADE Project</a>

        <!-- Sidenav toggle -->
        <div class="layout-sidenav-toggle navbar-nav align-items-lg-center mr-auto mr-lg-4">
          <a class="nav-item nav-link px-0 ml-2" href="javascript:void(0)">
            <i class="ion ion-md-menu text-large align-middle"></i>
          </a>
        </div>

        <!-- Navbar toggle -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#layout-navbar-collapse">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse" id="layout-navbar-collapse">
          <div class="navbar-nav align-items-lg-center">
            <div class="nav-item"><a class="nav-link" href="/kernel/">Home</a></div>
            <div class="nav-item"><a class="nav-link" href="/kernel/?about=about">About</a></div>
          </div>
        </div>
      </nav>
      <!-- / Layout navbar -->

      <div class="layout-container">

        <!-- Layout sidenav -->
        <div id="layout-sidenav" class="layout-sidenav sidenav sidenav-vertical bg-sidenav-theme">
          <ul class="sidenav-inner py-1">
            <li class="sidenav-item active">
              <a href="/kernel/" class="sidenav-link"><i class="sidenav-icon ion ion-md-desktop"></i><div>Home</div></a>
            </li>
            <li class="sidenav-item">
              <a href="/kernel/?about=about" class="sidenav-link"><i class="sidenav-icon ion ion-ios-contact"></i><div>About</div></a>
            </li>
          </ul>
        </div>
        <!-- / Layout sidenav -->

        <div class="layout-content">

          <!-- Page content -->
          <div class="container-fluid flex-grow-1 container-p-y">
            <h4 class="font-weight-bold py-3 mb-4">Semantic markup results</h4>
			<!--<p>From context {{ Debug }}  ->  .</p>-->

			
			<!--<img src="{% static 'vk_logo.png' %}" alt="VK logo">
            <p><b>Usage examples:</b></p>
			<p>[KZ] <span onclick="addText(event);document.getElementById('id_language_0').checked = true;" style = "text-decoration-line: underline; text-decoration-style: dashed">Hello 1</span></p>
			<p>[BB] <span onclick="addText(event);document.getElementById('id_language_1').checked = true;" style = "text-decoration-line: underline; text-decoration-style: dashed">Hello 2</span></p>
			<p>[TT] <span onclick="addText(event);document.getElementById('id_language_2').checked = true;" style = "text-decoration-line: underline; text-decoration-style: dashed">Без дачага киттек</span></p>-->

<h3>{{ FullValue|safe }}</h3>

			<p><a href = "/kernel/">Return to the main page</a></p>
			
			<p>List of semantic roles (excerpt):</p>
			<ul>
			
<li><b>ADV</b> adverbial, default tag (additional, default tag)</li>
<li><b>ARG0</b> proto-agent</li>
<li><b>ARG1</b> proto-patient</li>
<li><b>BNE</b> beneﬁciary (beneficiary)</li>
<li><b>CND</b> condition</li>
<li><b>DIR</b> direction</li>
<li><b>DGR</b> degree</li>
<li><b>EXT</b> extent</li>
<li><b>FRQ</b> frequency</li>
<li><b>LOC</b> locative (location)</li>
<li><b>MNR</b> manner</li>
<li><b>PRP</b> purpose or reason</li>
<li><b>TMP</b> temporal</li>
<li><b>TPC</b> topic</li>
<li><b>CRD</b> coordinated arguments</li>
<li><b>PRD</b> predicate (predicate verb)</li>
<li><b>PSR</b> possessor</li>
<li><b>PSE</b> possessee (to be held)</li>

			</ul>
			
			<small class="text-muted"><b>Debug info:</b> {{ Ret }}</small>
			
			
            
            <!--<p><button class="btn btn-primary btn-lg">Button</button></p>-->
          </div>
          <!-- / Page content -->

          <!-- Layout footer -->
          <nav class="layout-footer footer bg-footer-theme">
            <div class="container-fluid container-p-x pb-3">
              <a href="/kernel/" class="footer-link pt-3">Home</a>
              <a href="/kernel/?about=about" class="footer-link pt-3 ml-4">About</a>
            </div>
          </nav>
          <!-- / Layout footer -->

        </div>
      </div>

    </div>
    <!-- Layout inner -->

    <div class="layout-overlay layout-sidenav-toggle"></div>
  </div>
  <!-- / Layout wrapper -->

  <!-- Core scripts -->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="{% static 'assets/vendor/libs/popper/popper.js' %}"></script>
  <script src="{% static 'assets/vendor/js/bootstrap.js' %}"></script>
  <script src="{% static 'assets/vendor/js/sidenav.js' %}"></script>

  <!-- Libs -->

  <!-- `perfect-scrollbar` library required by SideNav plugin -->
  <script src="{% static 'assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js' %}"></script>

  <!-- Main script -->

  <script src="{% static 'assets/js/main.js' %}"></script>

</body>
</html>






